---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <script>
      // Check if the user has already seen the video (sessionStorage resets after closing browser)
      if (!sessionStorage.getItem("videoWatched")) {
        window.location.href = "video.html"; // Redirect to video page
      }
    </script>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
